<!DOCTYPE html>
<html>
  <head>
    <title>Übung 10 Studentenprojekt - Silvan Adrian</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="container">
      <div class="jumbotron">
              <h1>Studentenpojekt Übung 10</h1>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item"><h2>Dokumente</h2></li>
          {% for page in site.pages %}
            {% if page.title != null %}
            <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      </div>
    </section>
  </body>
</html>
