<!DOCTYPE html>
<html>
  <head>
    <title>Übung 10 Studentenprojekt - Silvan Adrian</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="container">
      <div class="jumbotron">
              <a href="/hsr-pmqm-project/"><h1>Studentenprojekt Übung 10</h1></a>
      </div>
      <p><a href="/hsr-pmqm-project/">Zurück zur Übersicht</a></p>
      <div class="row">
        <div class="col-xs-12">
          {{content}}
      </div>
      </div>
    </section>
  </body>
</html>
